/* --------------------本棚画面-------------------- */

/* ここからまとめて本移動、まとめて本削除の設定 */

#bulk_nav {
        background-color: skyblue;
}

#bulk_nav button {
    width: 40%;
    height: 20%;
}

/* ここまでまとめて本移動、まとめて本削除の設定 */


/* ここから本棚一覧の設定 */

#bookshelf_list {
    background-color: aqua;
}

/* ここまで本棚一覧の設定 */


/* ここまで本棚の設定 */
#bookshelf {
    background-color: aquamarine;
}

/* ここまで本棚の設定 */

/* --------------------本棚画面-------------------- */